* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-break: auto;
  
  width: 25vw;
  border-radius: 8px;
  background: rgb(51, 73, 94);
  color: #eee;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

li:nth-child(even){
  background: rgb(85, 122, 156);
}

li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
